BOT_TOKEN=8716139286:AAGYgsznJ6crP8hY7NAcGZZ22xrK08NwLpY
BASE_URL=https://project-1q5.onrender.com
LLM_API_KEY=eyJhbGciOiJIUzI1NiJ9.eyJlbWFpbCI6InN1ZGhhYXJjaGFuYWExNkBnbWFpbC5jb20iLCJpYXQiOjE3ODUwODIwMDUsImlzcyI6Imh0dHBzOi8vYWlwaXBlLm9yZyIsImF1ZCI6ImFpcGlwZS1hcGkiLCJleHAiOjE3ODU2ODY4MDV9.0e1CKijCFAMJGnNZ8N0afRWyI0dDO4wlTx4zPlpaKGc
LLM_BASE_URL=https://aipipe.org/openai/v1
LLM_MODEL=gpt-4o
QUESTION_BUDGET_SECONDS=210
MAX_AGENT_STEPS=12
